{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}0{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'Core/css/bootstrap.min.css' %}">
    <script defer src= "{% static 'Core/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body data-bs-theme="dark">


    {% include 'Core/includes/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'Core/includes/footer.html' %}

</body>
</html>